@model CsharpDotNetBank.Models.Conta
@{
    ViewData["Title"] = "Saldo";
}

<div class="bg-white p-8 rounded-xl shadow-sm text-center">
    <h1 class="text-3xl font-bold mb-4 text-blue-700">Saldo Atual</h1>

    <p class="text-4xl font-semibold text-gray-800">
        R$ @Model.Saldo
    </p>
</div>
